.restaurant-card {
  width: 264px;
  color: white;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 12px;
  background-image: url("../../../public/Image/3.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.location-tag {
  padding: 4px;
  background-color: #f2e982;
  color: black;
  width: 80px;
  border-radius: 22px;
}

.card-content {
  display: flex;
  padding-top: 60px;
  gap: 80px;
}

.restaurant-name {
  font-size: 24px;
  font-weight: 800;
  width: 120px;
}

.arrow-icon {
  height: 60px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  padding-top: 50px;
  width: 80%;
}

.location-tag {
  padding: 4px;
  background-color: #f2e982;
  color: black;
  width: 86px;
  border-radius: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  padding-top: 60px;
  gap: 80px;
}

.restaurant-name {
  font-size: 24px;
  font-weight: 600;
  width: 120px;
}

.arrow-icon {
  height: 60px;
}
.Aaaa {
  font-size: 65px;
}
@media (max-width: 360px) {
  .restaurant-card {
    width: 240px; 
  }
  .Aaaa {
    font-size: 30px;
  }

  .location-tag {
    width: 76px; 
  }

  .restaurant-name {
    width: 100px; 
  }
}

@media (max-width: 320px) {
  .restaurant-card {
    width: 200px; 
  }

  .location-tag {
    width: 66px; 
  }

  .restaurant-name {
    width: 80px;
  }
  .Aaaa {
    font-size: 26px;
  }
}
