.benefits-title{
  width: 66%;
  font-size: 64px;
  display: flex;
  justify-content: center;
  font-weight: 800;
}


/* Media query for screens with a width of 360px or less */
@media (max-width: 360px) {
  .benefits-container {
    padding: 16px;
  }

  .benefits-title {
    font-size: 24px;
    width: 100%;
  }

  .reward-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .benefits-card {
    width: 66%;
    text-align: center;
    margin-bottom: 20px;
    height: 214px;
  }

  .reward-card-content {
    padding: 16px;
  }

  .reward-card-title {
    font-size: 20px;
  }

  .reward-card-text {
    font-size: 16px;
  }

  .reward-card-image img {
    width: 60px;
    height: 60px;
  }
}

/* Media query for screens with a width of 320px or less */
@media (max-width: 320px) {
  .benefits-container {
    padding: 8px;
  }

  .benefits-title {
    font-size: 28px;
    width: 100%;
  }

  .reward-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .benefits-card {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  .reward-card-content {
    padding: 12px;
  }

  .reward-card-title {
    font-size: 18px;
  }

  .reward-card-text {
    font-size: 14px;
  }

  .reward-card-image img {
    width: 50px;
    height: 50px;
  }
}
