/* Base styles for Last component */
.last-container {
  padding-top: 146px;
  padding-bottom: 66px;
}

.last-title {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  font-family: "poppins";
}

.last-description {
  font-size: 32px;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.last-button {
  padding: 8px;
  width: 18%;
  background-color: #F2E982;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-button button {
  border: none;
  font-size: 22px;
  font-weight: 200;
}
/* Media query for screens with a width of 768px or less */
@media (max-width: 768px) {
  .last-container {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .last-title {
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
  }

  .last-description {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .last-button {
    width: 40%;
    margin: 0 auto;
  }

  .last-button button {
    font-size: 18px;
  }
}
/* Media query for screens with a width of 480px or less */
@media (max-width: 480px) {
  .last-container {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .last-title {
    font-size: 32px;
    width: 80%;
    margin: 0 auto;
  }

  .last-description {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .last-button {
    width: 40%;
  }

  .last-button button {
    font-size: 18px;
  }
}

/* Media query for screens with a width of 360px or less */
@media (max-width: 360px) {
  .last-container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .last-title {
    font-size: 28px;
    width: 90%;
    margin: 0 auto;
  }

  .last-description {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
  }

  .last-button {
    width: 60%;
  }

  .last-button button {
    font-size: 16px;
  }
}

/* Media query for screens with a width of 320px or less */
@media (max-width: 320px) {
  .last-container {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .last-title {
    font-size: 24px;
    width: 100%;
  }

  .last-description {
    font-size: 14px;
    width: 60%;
  }

  .last-button {
    width: 44%;
  }

  .last-button button {
    font-size: 14px;
  }
}
