
.bb{
  display: flex;
  align-items: center;
}
.main-container {
  background-color: #f8f8f8;
  padding: 20px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-links,
.popup-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li,
.popup-links li {
  color: white;
}

.popup-links li {
  margin-bottom: 10px;
}

.navbar {
  text-decoration: none;
  color: white;
  gap: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 56px;
  margin-right: 10px;
}

.popup-menu.open {
  transform: translateY(0);
}

.close-icon {
  height: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.popup-menu ul {
  list-style-type: none;
  padding: 0;
}

.popup-menu ul li {
  margin-bottom: 10px;
}

.main-content {
  margin-top: 40px;
}

.main-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.main-free-demo {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.main-free-demo:hover {
  background-color: #222;
}

.promo-image {
  flex: 1;
}

.main-image {
  height: 20px;
}
.menu-iconnn {
  height: 30px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.header {
  text-decoration-skip: \\;
}
.main-container {
  background-color: black;
  padding: 38px 120px;
}

.content-wrapper {
  margin: 0 auto;
}
.desktop-header{
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family: "poppins";
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 58px;
  padding-left: 454px;
  color: #f8f8f8;
  font-size: 20px;
  font-weight: 500;
}

.nav-links li {
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #00bf63;
}

.for-restaurant {
  display: flex;
  padding: 14px;
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.for-restaurant:hover {
  background-color: #00bf63;
  color: white;
}

/* Title and Description */
.main-title {
  font-size: 64px;
  color: white;
  font-weight: 600;
  width: 40%;
  margin: 50px 0 28px;
  font-family: "poppins";
}

.main-description {
  font-size: 16px;
  color: white;
  font-weight: 500;
  width: 36%;
}

.main-free-demo {
  font-size: 14px;
  border-radius: 20px;
  background-color: #f2e982;
  padding: 12px;
  width: 150px;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-free-demo:hover {
  background-color: #e0d769;
}
.promo-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-left: 22px;
}

.promo-image {
  position: absolute;
  right: 50px;
  transform: rotate(8deg);
}

.main-image {
  height: 496px;
  position: absolute;
  top: -340px;
  right: inherit;
}
/* Promo Section */
.promo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0;
  background-color: #00bf63;
  border-radius: 26px;
  flex-wrap: wrap;
  animation-name: phoneAnimation;
  animation-duration: 1s;
  height: 100px;
}

@keyframes phoneAnimation {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 10px;
  }

  .nav-links {
    gap: 15px;
    flex-direction: row;
    align-items: center;
    display: flex;
  }

  .main-title {
    font-size: 36px;
    margin: 20px 0;
    text-align: left;
    width: 50%;
    padding-left: 80px;
  }

  .main-description {
    font-size: 14px;
    width: 40%;
    text-align: left;
    margin-bottom: 20px;
  }

  .main-free-demo {
    width: 30%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }

  .main-image {
    height: 420px;
    position: relative;
    top: -112px;
    right: -90px;
    transform: none;
    margin-top: 20px;
  }

  .promo-section {
    border-radius: 20px;
    padding: 20px;
    width: 82%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    height: 232px;
  }

  .promo-text {
    text-align: center;
    padding: 0;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  .main-container-new {
    padding: 15px;
  }

  .header-new {
    flex-direction: column;
    align-items: center;
  }

  .logo-text-new {
    font-size: 24px;
  }

  .nav-links-new {
    flex-direction: row;
    gap: 24px;
  }

  .main-title-new {
    font-size: 36px;
    width: 74%;
    text-align: left;
    padding-top: 20px;
  }

  .main-description-new {
    font-size: 12px;
    width: 50%;
    text-align: left;
  }

  .main-free-demo-new {
    width: 40%;
    text-align: center;
  }

  .main-image-new {
    height: 300px;
    top: -108px;
    right: -28px;
  }

  .promo-section-new {
    border-radius: 16px;
    padding: 30px 10px;
    width: auto;
    height: 176px;
  }
  .nav-links {
    padding: 0%;
  }
  .logo-container {
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    width: 90%;
  }
  .menu-iconnn {
    padding-left: 180px;
  }
  .main-title {
    width: 56%;
    padding-left: 6%;
  }
  .promo-section {
    height: 162px;
    width: auto;
  }
  .main-image {
    height: 250px;
    left: 36px;
    bottom: 20px;
    top: -186px;
  }
  .main-description {
    width: 60%;
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  .main-description {
    width: 58%;
  }
  .main-title {
    width: 57%;
  }
}
@media (max-width: 460px) {
  .main-description {
    width: 58%;
  }
  .main-title {
    width: 57%;
    font-size: xx-large;
  }
}
@media (max-width: 450px) {
  .main-image {
    height: 240px;
  }
}
@media (max-width: 450px) {
  .main-title {
    width: 52%;
  }
  .main-description {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .main-title {
    width: 56%;
  }
  .main-description {
    font-size: 11px;
  }
}
@media (max-width: 420px) {
  .main-title {
    width: 57%;
  }
  .main-description {
    font-size: 11px;
    width: 54%;
  }
}
@media (max-width: 414px) {
  .main-title {
    width: 58%;
  }
  .main-description {
    font-size: 11px;
    width: 53%;
  }
  .menu-iconnn {
    padding-left: 140px;
  }
}
@media (max-width: 410px) {
  .main-title {
    width: 59%;
  }
  .main-description {
    font-size: 11px;
    width: 53%;
  }
  .menu-iconnn {
    padding-left: 140px;
  }
}
@media (max-width: 405px) {
  .main-title {
    width: 52%;
    font-size: 30px;
  }
  .main-description {
    font-size: 11px;
    width: 53%;
  }
  .menu-iconnn {
    padding-left: 125px;
  }
  .main-image {
    height: 200px;
  }
}
@media (max-width: 400px) {
  .main-title {
    width: 58%;
    font-size: 30px;
  }
  .main-description {
    font-size: 11px;
    width: 48%;
  }
  .menu-iconnn {
    padding-left: 110px;
  }
  .main-image {
    height: 200px;
  }
}
@media (max-width: 390px) {
  .menu-iconnn {
    padding-left: 100px;
  }
  .main-title {
    width: 58%;
  }
  .main-image {
    height: 160px;
  }
}
@media (max-width: 385px) {
  .menu-iconnn {
    padding-left: 100px;
  }
  .main-title {
    width: 59%;
  }
  .main-image {
    height: 160px;
  }
}
@media (max-width: 380px) {
  .menu-iconnn {
    padding-left: 100px;
  }
  .main-title {
    width: 50%;
    font-size: 26px;
  }
  .main-image {
    height: 160px;
  }
  .main-description {
    width: 46%;
    font-size: 10px;
  }
  .promo-section{
    height: 140px;
  }
}
@media (max-width: 370px) {
  .menu-iconnn {
    padding-left: 140px;
  }
  .main-title {
    width: 48%;
    font-size: 26px;
  }
  .main-image {
    height: 160px;
  }
  .main-description {
    width: 42%;
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .main-container {
    padding: 10px;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 10px;
  }

  .nav-links {
    gap: 15px;
    align-items: center;
    width: 100%;
  }

  .main-title {
    font-size: 34px;
    width: 40%;
    text-align: left;
    margin: 10px 0;
  }

  .main-description {
    font-size: 10px;
    width: 48%;
    text-align: left;
    margin-bottom: 0px;
  }

  .main-free-demo {
    width: 40%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }
  .menu-iconnn{
    padding-left: 100px;
  }

  .main-image {
    height: 204px;
    position: relative;
    top: -188px;
    right: -32px;
    transform: none;
    margin-top: 20px;
  }

  .promo-section {
    border-radius: 16px;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .promo-text {
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 350px) {
  .menu-iconnn {
    padding-left: 80px;
  }
}
@media (max-width:340px) {
  .menu-iconnn{
    padding-left: 70px;
  }
}
@media (max-width: 350px) {
  .menu-iconnn {
    padding-left: 100px;
  }
  .main-description {
    font-size: 9px;
  }
  .main-title {
    width: 58%;
  }
}
@media (max-width: 320px) {
  .main-container {
    padding: 10px;
  }

  .main-title {
    font-size: 22px;
    width: 62%;
    text-align: left;
  }

  .main-description {
    font-size: 8px;
    width: 50%;
    text-align: left;
  }
  .menu-iconnn {
    padding-left: 100px;
  }
}
@media (max-width: 414px) {
  .main-image {
    height: 202px;
    top: -152px;
    right: -28px;
  }
}
@media (max-width: 414px) {
  .menu-iconnn{
    padding-left: 120px;
  }
}
@media (max-width: 425px) {
  .main-title {
    width: 70%;
  }
}
@media (max-width: 432px) {
  .main-title {
    width: 55%;
  }
}
@media (max-width: 440px) {
  .main-title {
    width: 66%;
  }
}
@media (max-width: 465px) {
  .main-title {
    width: 66%;
  }
}
