.mainn {
  background-image: url("../img/bg5.png");
  padding-top: 25px;
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  .title {
    font-size: 66px;
    font-weight: 900;
    color: rgb(12, 12, 12);
    font-family: "poppins";
    padding-top: 52px;
  }
  
  .steps-container {
    padding-top: 56px;
    display: flex;
    gap: 76px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .step {
    text-align: center;
  }
  
  .step-image {
    height: 250px;
    border-radius: 126px;
  }
  
  .step-description {
    font-size: 20px;
    font-weight: 800;
    color: rgb(27, 26, 26);
    padding-top: 46px;
    width: 256px;
    font-family: "poppins";
  }

/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
  .title {
      font-size: 50px;
  }

  .steps-container {
      padding-top: 80px;
      gap: 40px;
      display: block;
  }

  .step-image {
      height: 220px;
      border-radius: 110px;
  }

  .step-description {
      font-size: 16px;
      padding-top: 30px;
  }
}
/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  .title {
      font-size: 40px;
  }

  .steps-container {
      padding-top: 60px;
      gap: 30px;
  }

  .step-image {
      height: 200px;
      border-radius: 100px;
  }

  .step-description {
      font-size: 14px;
      padding-top: 20px;
  }
}
  
  @media (max-width: 360px) {
    .title {
      font-size: 36px;
    }
    .mainn{
        padding-bottom: 5%;
    }
  
    .steps-container {
      flex-direction: column;
      gap: 20px;
      padding-top: 10%;
    }
  
    .step-image {
      height: 200px;
      border-radius: 100px;
    }
  
    .step-description {
      font-size: 16px;
      padding-top: 20px;
    }
  }
  
  @media (max-width: 320px) {
    .title {
      font-size: 30px;
    }
  
    .step-image {
      height: 180px;
      border-radius: 90px;
    }
  
    .step-description {
      font-size: 14px;
    }
  }
  @media (max-width:380px){
    .steps-container{
     
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width:450px) {
    .step-description{
      font-size: 20px;
      padding-bottom: 10px;
    }
    
  }